<div class="registration-container">
    <h2>User Registration</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input
          id="username"
          type="text"
          class="form-control"
          formControlName="username"
          placeholder="Enter username"
          (blur)="checkUsernameAvailability()"
        />
        <span *ngIf="usernameAvailable === true"
         class="text-success">Username is available!</span>
        <span *ngIf="usernameAvailable === false" class="text-danger">User is already exist, Plese use another Username.</span>
        <span *ngIf="getErrorMessage('username')" class="text-danger">{{ getErrorMessage('username') }}</span>
      </div>
  
      <div class="form-group">
        <label for="country">Country:</label>
        <select id="country" class="form-control" formControlName="country">
          <option value="" disabled>Select country</option>
          <option *ngFor="let country of countries" [value]="country.code">{{ country.name }}</option>
        </select>
        <div *ngIf="registrationForm.controls['country'].touched && registrationForm.controls['country'].invalid">
          <small class="text-danger">Country is required.</small>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="registrationForm.invalid">
        Submit
      </button>
  
      <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
    </form>
  </div>